body{
    margin: 0%;
    padding: 0%;
    
}
/* header start  */
header{
    width: 100vw;
    height:100px;
    background-color: #415E72;
    display: flex;
}
 .logo{
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
h1{
    margin: 0%;
    padding: 0%;
    color: white;
}
nav{
    width: 60%;
    height: 20%;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    color: black;
    font-size: 30px;
    list-style-type: none;
}
li{
    color: rgb(255, 255, 255);
}
.button-group{
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: rgb(173, 190, 184);
    color: black;
    padding: 7px;
    font-size: 25px;
    border-radius: 40px;
}
/*  header end */
main{
    width: 100%;
    height: auto;
}
/* home section start*/
.home{
    width: 100%;
    height: 635px;
    background-color: #72539b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-section{
       width: 40%;
       height: 30%;
       border-radius: 20px;
       background-color: #1B3C53;
       color: white;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       gap: 20px;
}
.home-tittle{
    font-size: 50px;
    columns: white;
    margin: 0%;
    padding: 0%;
}
.home-subtittle{
    font-size: 30px;
    color: white;
    margin: 0%;
    padding: 0%;
}
/* home section end*/
/* about section start---------------- */ 
.about{
    width: 100%;
    height: 600px;
}
.about-tittle-sec{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.about-tittle{
    font-size: 40px;
    margin-left: 80px;
    text-decoration: underline;
}
/* about section end---------------- */ 
/* project section start---------------- */ 
.project{
    width: 100%;
    height: 600px;
    background-color: rgb(171, 171, 171);
    color: #0095ff;
}
.project-tittle-sec{
    width: 100%;
    height: 100px;
    
    background-color: rgb(172, 172, 172);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.project-tittle{
    font-size: 40px;
    margin-left: 80px;
    text-decoration: underline;
}
/* project section end---------------- */ 

/* contact section start---------------- */ 
.contact{
    width: 100%;
    height: 600px;
    background-color: rgb(187, 122, 122);
    color: #0095ff;
}
.contact-tittle-sec{
    width: 100%;
    height: 100px;
    
    background-color: rgb(187, 122, 122);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.contact-tittle{
    font-size: 40px;
    margin-left: 80px;
    text-decoration: underline;
}
/* contact section end---------------- */ 